@media only screen and (max-width: 400px){

    main{
        grid-template-columns: 1fr;
        row-gap: 1%;
    }

    #princ-c{
        grid-column: 1 / 2;
    }

    footer{
        padding-top: 20%;
    }

}
