@media only screen and (max-width: 430px){

    #content{
        width: 100%;
    }
    header{
        border-radius: 0;
    }
    main{
        grid-template-columns: 1fr;
        row-gap: 1%;
    }

    #princ-c{
        grid-column: 1 / 2;
    }

    footer{
        padding-top: 20%;
        border-radius: 0;
    }

}
