@media only screen and (min-width: 42.5rem){

nav button {display: none;}

#logo{
    margin: 0;  
    margin: .5rem ;  
}

#name{
    display: block;
    font-size: .6rem;
    color: #eee;
    margin: .8rem;
}

#name h1{
    padding: 0;
    margin: 0;
}
#name h2{
    padding: 0;
    margin: 0;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li:nth-child(1){
    border-left: 1px solid rgba(238,238,238,0.5);
}

nav ul li a {
    border-right: 1px solid rgba(238,238,238,0.5); 
    border-top: none;   
    padding-left: 5.3vw;
    padding-right: 5.3vw;
}

#spotlights {
    display: flex;
}

#spotlights div {
    margin: auto;
    padding-left: 19vw;
    padding-right: 19vw;
}

#footer-info{
    display: flex;

}

#footer-info div:nth-child(1){
    margin:auto;
}

#footer-info div:nth-child(2){
    margin:auto;
}

#end{
    display: flex;
    justify-content: center;
}

/*Join page*/

main#form-content {
    display: block;
}

div#join-container {
    display: flex;
}

div.form-container{
    width: 50%;
}

/* Directory Page */

div#card-view {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

section.bizcards{
    margin:auto;
}

}

@media only screen and (min-width: 58.75rem){
/* Contact page */

div#contact-form-container {
    width: auto;
    font-size: 16pt;
    padding-left: 2%;
}

div#contact-form-container form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
    padding: 30px;
}

div#contact-form-container form label:nth-child(1){
    grid-row: 1;
    grid-column: 1;
}

div#contact-form-container form label:nth-child(2){
    grid-row: 2;
    grid-column: 1;
}

div#contact-form-container form label:nth-child(3){
    grid-row: 3;
    grid-column: 1;
}

div#contact-form-container form label:nth-child(4){
    grid-row: 4;
    grid-column: 1;
}

div#contact-form-container form label:nth-child(5){
    grid-row: 1 / 4;
    grid-column: 2;
}

label.contactinput {
    display: block;
    padding-top: 1rem;
}

label.contactinput input, label.contactinput textarea{
    display: block;
    font-size: 1.2rem;
    width: 20rem;
    max-width: 20rem;
}

label.mess-btn {
    margin: 0;
}

div#board > div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div.director {
    width: auto;
}

div.director picture img {
    width: auto;
}


}